<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/style.css" type="text/css" rel="stylesheet" />
  </head>
  <!--BOBODY-->
  <body>
    <div class="page">
      <br /><br />
      <h1>ALL GLORY TO THE HYPNOTOAD</h1>
      <br /><br />
      <img
        src="/static/hypnotoad.gif"
        title="ALL GLORY TO THE HYPNOTOAD"
        alt="ALL GLORY TO THE HYPNOTOAD"
      />
    </div>
  </body>
</html>
